.root {
    -fx-background-color: linear-gradient(firebrick 10%, orange 90%);
}

.label {
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-font-size: 18pt;
    -fx-text-fill: linear-gradient(to left, darkviolet 15%, yellow 45%,
    red 75%, firebrick 85%);
    -fx-background-color: linear-gradient(darkblue 10%, #ABCDEF 65%, dodgerblue 90%);
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.2, 2, 3);
}

.button {
    -fx-text-fill: silver;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-background-color: radial-gradient(center 25% 25%, radius 50%, reflect,
    dodgerblue, darkblue 75%, dodgerblue);
}

.text-field {
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-font-size: 18pt;
    -fx-text-fill: linear-gradient(to left, darkviolet 15%, yellow 45%,
    red 75%, firebrick 85%);
    -fx-background-color: linear-gradient(darkblue 10%, #ABCDEF 65%, dodgerblue 90%);
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.2, 2, 3);
}
